body {
  font-family: "proxima-nova", sans-serif;
  font-size: 1em;

}

a,
.btn-link {
    color: #0081c6;
    text-decoration: none;
}

a:hover,
.btn-link:hover {
    text-decoration: none;
    cursor: pointer;
}

.container {
    width: 1000px;
}



/* HEADER & NAVBAR */

#header {
  background-color: #fff;
  border-bottom: 0;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  padding-bottom: 15px;
}

.container-fluid > .navbar-header {
  margin-right: 0 !important;
}

.navbar-brand {
  padding: 18px 0;
}

.wastemate-header-nav {
  margin-top: 10px;
}

.navbar-right {
	margin-right: 0px;
}

.navbar-nav > li > a {
  font-size: 1.6em;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #0081c6;
  font-weight:500;
  border: 1px solid transparent;
  background-color: rgba(255,255,255,.95);
}

.navbar-nav > li > a:hover {
  border-radius: 4px;
}

.navbar-nav > li.active > a {
  border-radius: 0px;
  padding-bottom: 8px;
}

.navbar-nav > li.active > a span {
  border-bottom: 1px solid #6cb33e;
}

.navbar-nav > li > a.btn-nav-exteral {
  color: #fff !important;
  background-color: #0081c6;
  border-color: #0081c6;
}

.navbar-nav > li > a.btn-nav-exteral:hover {
  color: #0081c6 !important;
  background-color: #eee;
  border-color: #0081c6;
}

.user-address	{
	text-align: right;
  margin: 10px 6% 0 0;
  font-size: 14px;
}

.user-address	i {
  font-size: 24px;
}




/* PAGE STRUCTURE */

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

#siteSummary {
	position: relative;
	z-index: 90;
}

#heroImage {
  position: relative;
  z-index: 10;
  width: 100%;
  padding-top: 18%;
  min-height: 250px;
  margin-top: 87px;
}

#heroImage.home {
  padding-top: 22%;
}

.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-attachment: scroll !important;
  background-position: top center;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.wastemate-hero-center	{
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
}

.wastemate-hero-center-content	{
  margin-top: 0;
  display: table-cell;
	text-align: center;
  vertical-align: middle;
}

.wastemate-hero-center-content a {
	text-decoration: underline;
}

.wastemate-hero-title h1 {
  font-size: 5.7em;
  font-weight: 300;
  color: #1882c2;
  margin: 0;
  text-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 25px #fff, 0 0 30px #fff, 0 0 35px #fff, 0 0 35px #fff, 0 0 40px #fff;
}

.wastemate-hero-signup	{
	margin-top: 25px;
	background-color: rgba(255,255,255,.8);
	border-radius: 10px;
	box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.75);
}

.wastemate-hero-signup-modal	{
	box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.75);
}

.pac-container {
	z-index: 1060 !important;
}

.wastemate-hero-signup-title	{
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.9em;
 	color: #0081c6;
  margin-top: 15px;

}

.wastemate-hero-signup-form {
	border: 1px solid #0081c6;
	border-radius: 4px;
	padding: 0;
	margin-bottom: 15px;
}

.wastemate-hero-signup-form .input-group .input-group-addon,
.wastemate-hero-signup-form .form-control.au-target,
.wastemate-hero-signup-form .btn-search	{
	color: #0081c6;
	border: 0;
	background: none;
}

.wastemate-hero-signup-form .input-group .input-group-addon {
	font-size: 2.4em;
}

.wastemate-hero-signup-form .form-control.au-target	{
	padding: 9px 0;
	font-size: 1.9em;
}

.wastemate-hero-signup-form .form-control::-moz-placeholder {
	color: #ccc;
}

.wastemate-hero-signup-form .form-control::-webkit-input-placeholder {
	color: #ccc
}

.wastemate-hero-signup-form .input-group-btn:last-child > .btn {
    margin-left: 0;
}

.wastemate-hero-signup-form .marker	{
	padding-bottom: 7px;
}

.wastemate-hero-signup-form .chevron	{
	font-size: 23px;
}

.wastemate-hero-signup-existing	{
	padding-bottom: 10px;
	font-weight: 500;
	font-size: 1.6em;
}

/* HOMEPAGE ROW OF BINS */
.landing-nav-contianer {
  text-align: center;
}

.landing-nav {
  padding: 30px 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.landing-thumb .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.landing-thumb img	{
  vertical-align: middle;
  width: 100%;
}

.landing-service {
	padding-top: 25px;
	font-weight: 200;
	font-size: 40px;
	line-height: 1.1;
		margin-bottom: 5px;
}

.landing-description {
  font-size: 1.6em;
	color: #58595b;
	max-width: none;
	line-height: 1.5em;
	
}


/* GREEN BAR */

.inner-nav {
  color:#fff;
	height: 190px;
	background: #6cb344; /* Old browsers */
	background-image: linear-gradient(40deg, #6cb344, #378c42);
	display: table;
	width: 100%;
}

.inner-nav .float-middle {
  display: table-cell;
  vertical-align: middle;
}

.inner-nav .site-summary {
  max-width: 850px;
  font-size: 2.4em;
  font-weight: 300;
  line-height: 1.32em;
	text-align: center;
}

.inner-nav h1 {
  font-size: 4.1em;
  font-weight: 200;
  margin-bottom: 5px;
  margin-top: 0px;
}

.inner-nav .container	.lob .description	{
  font-size: 1.6em;
	color: #fff;
	line-height: 1.3em;
	font-weight: 300;
}

.description a {
	color: #fff;
	text-decoration: underline;
}

.description a:hover{
	cursor: pointer
}

.inner-nav .container .lob .title {
	overflow:hidden;
}

.inner-nav .nav-col-1 a:hover,
.inner-nav .nav-col-2 a:hover {
	text-decoration: none;
}

.inner-nav .container ul {
	border-left: 1px #3b7b3f solid;
  padding: 5px 0 5px 10px;
  margin: 0;
}

.inner-nav .container ul li {
  list-style: none;
  margin-left: 0;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.inner-nav .container li a {
  font-size: 1.7em;
	color: #fff;
	line-height: 1.3em;
	font-weight: 400;
}


.sidebar	{
	background: #e1f3f4;
	border-radius: 10px;
}





/* CONTENT STYLES */

#content {
	background-color: #fff;
}

main	{
	padding: 20px 0;
}

.sidebar {
  padding: 0 20px;
}

main h2,
.sidebar h2 {
	margin-top: 20px;
	margin-bottom: 10px;
	color: #0081c6;
	font-weight: 200;
	font-size: 4.1em;
}

.content > h2:first-of-type{
	margin-top: 0;
}

.sidebar > h2:first-of-type{
	margin-top: 16px;
}

.sidebar:last-child {
	margin-bottom: 20px;
}

.sidebar img {
	margin-top: 10px;
}

main	h3,
main	p,
main	ol li,
main	ul li,
main	ol li ul li,
.sidebar h3,
.sidebar p,
.sidebar ul li {
  font-size: 1.6em;
  font-weight: normal;
	color: #58595b;
	line-height: 1.5em;
	font-weight: 400;
}

main	ol li ul li,
main	ol li p {
  font-size: 1em;
  list-style-type: disc;
}

main	h3,
.sidebar h3 {
	text-transform: uppercase;
	color: #6cb33e;
	font-weight: 600;
	margin-bottom: 10;
}

.sidebar h3	{
	color: #58595b;
}

main ul,
main ol	{
  padding-left: 20px;
}

main ol li ul	{
  padding-left: 17px;
}

main ol li p + ul	{
  margin-bottom: 10px;
}

#list-commercial + ol li,
#list-commercial + ol li	p:first-of-type	{
  color: #0081c6;
  margin-left: 0;
  font-weight: 600;
}

#instructions + ol li	{
  font-weight: 600;
}

#instructions + ol li ul li	{
  font-weight: 400;
}

#list-commercial + ol li ul li	{
  color: #333;
  font-weight: 400;
  margin-left: 23px;
}

[id |= list-columns]  + ul {
	-moz-column-count: 2;
	-moz-column-gap: 20px;
	-webkit-column-count: 2;
	-webkit-column-gap: 20px;
	column-count: 2;
	column-gap: 20px;
	padding-left: 0;
}

[id |= list-columns]  + ul li {
	margin-left: 17px;
}

main ol li	p	{
  margin-left: 20px;
}

.sidebar ul	{
  padding-left: 20px;
}

.sidebar ul li	{
  list-style: none;
  padding-left: 0;
  padding-bottom: 10px;
}

.btn-primary	{
	background-color: #fff;
  border-color: #6cb33e;
  color: #58595b;
	font-size: 1em;
}

.btn-trans {
	background-color: rgba(0,0,0,0.0);
}

.recyclables,
.organics,
.landfill,
.hazardous-materials	{
	padding-left: 110px;
}

.recyclables	{
	background: url("../media/recycling/recycle_cart.png") no-repeat;
}

.organics	{
	background: url("../media/recycling/organics_cart.png") no-repeat;
}

.landfill	{
	background: url("../media/recycling/landfill_cart.png") no-repeat;
}

.hazardous-materials	{
	background: url("../media/recycling/hazardous.png") no-repeat;
}

.organics ul:last-of-type	{
	padding-left: 17px;
}

.center {
  text-align: center;
}

.center-block	{
	float:none
}

.container-content	{
	margin-top: 20px;
	margin-bottom: 20px;
}

.form-control {
	height: auto;
}

.container-fluid>.navbar-header,
.container-fluid>.navbar-collapse {
	margin-right: 6%;
	margin-left: 6%;
}

table.christmas-week	{
	margin-left: 40px;
}

table.christmas-week td {
	font-weight: 400;
	vertical-align: top;
}

.waste-categories	{
	display: inline;
	float: left;
	text-align: center;
	padding: 30px 20px 10px 20px;
}

.waste-categories:nth-child(odd)	{
	margin-right: 20px;
}

.waste-categories	h3 {
	margin-top: 0;
}

.bin-sizes	{
	margin-top: 20px;
}

.bin-sizes .bin	{
	display: inline;
	float: left;
	text-align: center;
	background: #f5f5f5;
	border: 1px solid #dbdcdd;
	border-radius: 10px;
	margin-bottom: 20px;
	padding: 30px 20px 10px 20px;
}

.bin-sizes  .bin:nth-child(odd)	{
	margin-right: 20px;
}

.bin-sizes .bin .size	{
	display: inline;
	background: #fff;
	padding: 12px 20px;
	border: 1px solid #99d7da;
	border-radius: 5px;
}

.bin-sizes .bin figure	{
		margin: 40px 0 30px 0;
}

del	{
 color: #d2232a;
 text-decoration: none;
}

.about-map	{
	border:0;
	float: left;
	margin-right: 20px;
	margin-top: 16px;
}

.article-icon	{
	float: left;
	display: inline;
	padding-right: 20px;
}

.article-image-center	{
	text-align: center;
	margin-top: 40px;
}

.community-icons	{
	margin: 0 0 20px 0;
}


/* Modals */

.modal-btn	{
	display: inline;
}

.modal-btn +.modal-btn	{
	margin-left: 20px;
}

.modal-btn + p	{
	margin-top: 10px;
}
.modal-btn .btn	{
  font-size: 1.6em;
}

.modal-dialog	h4 {
  font-size: 1.6em;
	text-transform: uppercase;
	color: #6cb33e;
	font-weight: 700;
	margin-bottom: 10;
}

.modal-header,
.modal-footer	{
	border: none;
}

.modal-body {
  padding: 0 15px;
}



/* Footer */
.footer	{
  background-color: #afafac;
  padding: 10px 0 20px 0;
}

footer h2	{
	font-weight: 300;
  font-size: 2.4em;
  margin-bottom: 3px;
}

footer h2.about,
footer h2.contact	{
	margin-top: 40px;
}

footer a	{
  color: #fff;
}

footer a:hover	{
  color: #fff;
  text-decoration: underline;
}

footer ul	{
  padding-left: 0;
	margin-left: 0;
}

footer ul	li {
  list-style: none;
  margin-bottom: 3px;
}

footer ul a	{
  font-size: 1.4em;
  color: #fff;
}

footer .copyright	{
	border-top: 1px solid #fff;
	margin-top: 20px;
	padding-top: 20px;
	text-align: center;
  font-size: 1.4em;
  font-weight: 600;
  color: #fff;
}



@media (max-width: 1200px) {

		.container {
			width: 100%;
		}
		.navbar-brand img	{
			width: 78%;
		}
		.user-address	{
			display: none;
		}
    .navbar-header {
      float: none;
    }
    .navbar-right {
      float: none !important;
    }
    .navbar-toggle {
      display: block;
    }
    .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
			top: 0;
			border-width: 0 0 1px;
		}
    .navbar-collapse.collapse {
      display: none !important;
    }
    .navbar-nav {
      float: none!important;
			margin-top: 7.5px;
		}
		.navbar-nav>li {
      float: none;
    }
    .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
    }
		.navbar-fixed-top .navbar-collapse {
				max-height: none;
		}

		.container-fluid>.navbar-header,
		.container-fluid>.navbar-collapse {
			margin-right: 15px !important;
			margin-left: 15px !important;
			}
		.navbar > .container-fluid .navbar-brand {
				margin-left: 0 !important;
		}

		.navbar-toggle	{
			background-color: #1882c2;
			margin-top: 26px;
			margin-right: 0;
		}

		.navbar-toggle .icon-bar 	{
			background-color: #fff;
		}

		.navbar-nav  {
			margin-top: 17px;
			}

		.navbar-nav li  {
			border-top: 1px solid #eee;
			}

		.navbar-nav li a {
			text-align: center;
			}

		.navbar-nav > li.active > a {
			background: #eee;
			border: 0;
		}

		.wastemate-hero-title h1 {
			font-size: 4.2em;
		}

		footer h2.about,
		footer h2.contact	{
			margin-top: 20px;
		}



}


@media (max-width: 992px){


		#heroImage.home .bg-image {
			background-position: 100% 50% !important;
		}

		.landing-nav .col-md-3	{
			width: 50%;
			float: left;
		}

		.landing-nav .col-md-3:nth-child(3),
		.landing-nav .col-md-3:nth-child(4)	{
			margin-top: 75px;
		}

		.wastemate-header-nav {
			 margin-top: 0;
		}

		.navbar-brand {
			 margin-left: 35px;
		}

		#heroImage {
			min-height: 0;
			padding-top: 0;
		}

		#heroImage.home {
				padding-top: 0;
		}

		.bg-image {
			position: relative;
		}

		.wastemate-hero-signup	{
				border-radius: 0;
				box-shadow: none;
				margin-top: 0;
		}

		.wastemate-hero-title h1 {
			font-size: 3em;
			margin: 10px 0;
		}

		#heroImage.home .wastemate-hero-signup	{
			margin-top: 5px;
		}

		.inner-nav .float-middle {
			width: none;
		}

		.inner-nav .site-summary {
				font-size: 1.6em;
		}

		.inner-nav .lob	{
			border-right: none;
			padding: 0 15px;
			width: 100%;
		}

		.inner-nav .nav-col-1,
		.inner-nav .nav-col-2	{
			display: none;
		}

		.sidebar {
			padding: 20px;
		}

		footer	{
			text-align: center;
		}

		footer ul,
		.article-icon,
		.article-image-center	{
			display: none;
		}

		.recyclables,
		.organics,
		.landfill,
		.hazardous-materials	{
			padding-left: 0;
			background: none;
		}

		[id |= list-columns]  + ul {
			-moz-column-count: 1;
			-webkit-column-count: 1;
			column-count: 1;
		}

		.modal-btn	{
			display: block;
		}

		.modal-btn +.modal-btn	{
			margin-top: 10px;
			margin-left: 0;
		}

}


/* 750px */
@media (max-width: 768px){

		.landing-nav .col-md-3	{
			width: 50%;
		}

		.landing-nav .col-md-3:nth-child(2),
		.landing-nav .col-md-3:nth-child(3),
		.landing-nav .col-md-3:nth-child(4)	{
			margin-top: 50px;
		}

		.landing-thumb img {
			height: 60%;
			width: 60%;
		}

		.landing-service {
			padding-top: 0;
		}
		
		
		.bin-sizes .bin,
		.waste-categories	{
			display: block;
			width: 100%;
		}

		.bin-sizes .bin img,
		.waste-categories img	{
			width: 100%;
		}

		.waste-categories:nth-child(odd),
		.bin-sizes  .bin:nth-child(odd)	{
			margin-right: 0;
		}


}


@media (max-width: 600px){

		.landing-nav .col-md-3	{
			width: 100%;
		}
}


.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}