{{ partial "header.html" . }}
<body id="{{ .Params.slug }}" class="tk-proxima-nova">
	{{ partial "navigation.html" .}}
	<div class="container-fluid">
		<div id="heroImage" class="home content-fill">
			{{ if isset .Site.Params "header_image"}}
			<style>
				.bg-image {
					background-image: url("{{ .Site.Params.header_image }}");
				}	
			</style>
			{{ end }}
			<div class="bg-image">
				<div class="wastemate-hero-center">
					<div class="wastemate-hero-center-content">
						<div class="wastemate-hero-title clearfix">
							<div class="col-md-12 center">
								<h1>{{ .Site.Params.heading }}</h1>
							</div>
						</div>
						<div class="wastemate-hero-signup clearfix">
							<div class="col-md-12 center-block">
								<div class="center">
									<h2 class="wastemate-hero-signup-title">Sign up for service</h2>
								</div>
								<div class="col-md-3 center-block wastemate-hero-signup-form">
									<form role="form">
										<div class="input-group">
											<span class="input-group-addon marker">
												<i class="fa fa-map-marker"></i>
											</span>
											<input type="text" name="street_address" value.bind="address" class="form-control au-target" id="street_address" placeholder="1234 Main St" autocomplete="off">
											<span class="input-group-btn">
												<button type="submit" class="btn btn-search chevron"><i class="fa fa-chevron-circle-right"></i></button>
											</span>
										</div>
									</form>
								</div>
								<div class="center wastemate-hero-signup-existing">
									<p>Existing Customers <a href="https://pasorobleswastedisposal.onlineportal.us.com/User/Login?ReturnUrl=%2f">Login</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Page Descroption Callout -->
		<div class="container-fluid wastemate-inner-nav">
			<div class="wastemate-page-description col-md-8 center-block center">
			  {{ .Site.Params.site_summary}}
			</div>
		</div>
		<div class="container-fluid wastemate-landing-nav-contianer">
			<div class="container">
				<div class="col-md-12 center-block clearfix wastemate-landing-nav">
				  {{ range where .Site.Pages "Section" "service"  }}
				  	{{ if isset .Params "imageicon"}}
					  <div class="col-md-3">
			            <div class="wastemate-landing-thumb">
			                  <span class="helper"></span>
			                  <img src="{{ .Params.imageicon | absURL }}" />
			            </div>
			            <div class="wastemate-landing-service">
			              <a href="{{ .Permalink }}" class="nav-link">{{ .Title }}</a>
			            </div>
			            <div class="wastemate-landing-description">
			              {{ .Description }}
			            </div>
			          </div>
					{{ end }}
		          {{ end }}   
				</div>
			</div>
		</div>
	</div>
	{{ partial "footer.html" .}}
</body>