{{ partial "header.html" . }}
<body id="{squarespace.page-id}" class="{squarespace.page-classes} tk-proxima-nova">
	{{ partial "navigation.html" .}}
	<div class="container-fluid">
	  <!-- Header image & content -->
	  {{ partial "page_header.html" .}}
	  <!-- Sub-Navigation and section summary-->
	  {{ partial "page_summary.html" .}}
	  <!--Content injection point.-->
	  <div class="container">
	    <div class="col-md-10 center-block">
	      <main id="content" class="content" role="main" data-content-field="main-content">
	        {{ .Content }}
	      </main>
	    </div>
	  </div>
	</div>

	{{ partial "footer.html" .}}
</body>