<header class="navbar navbar-static-top bs-site-nav" id="header" role="banner">
  <div class="container-fluid">
    <div class="navbar-header wastemate-nav-logo">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a href="../" class="navbar-brand">
           <img class="logo" src="//static1.squarespace.com/static/54cdb0a5e4b0a2c8bca40573/t/5532dbf4e4b09e3f06159e0b/1436482094063/?format=original" alt="Paso Waste &amp; Recycle">
        </a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse wastemate-header-nav" data-content-field="navigation-mainNav" id="yui_3_17_2_4_1436510002745_585">
      <ul class="nav navbar-nav navbar-right">
        {{ range where .Site.Pages "Section" "service"  }}
            <li class="">
            <a href="{{ .Permalink }}" class="nav-link">{{ .Title }}</a>
        {{ end }}   
        <li class="">
          <a class="btn btn-nav-exteral" href="https://pasorobleswastedisposal.onlineportal.us.com/User/Login?ReturnUrl=%2f" target="_blank" onclick="ga('send', 'event', 'Navbar', 'Revenue links', 'BillPay');">
            Pay Bill
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>