<div id="heroImage" class="index-section-image inside content-fill">
	{{ if isset .Params "bannerimage"}}
	<style>
		.bg-image {
			background-image: url("{{ .Params.bannerimage }}");
		}	
	</style>
	{{ end }}
	<div class="bg-image">
		<div class="wastemate-hero-center">
			<div class="wastemate-hero-center-content">
	    		<div class="wastemate-hero-signup inside clearfix">
      				<div class="col-md-12 center-block">
          				<div class="center">
							<h2 class="wastemate-hero-signup-title">Sign up for service</h2>
						</div>
						<div class="col-md-3 center-block wastemate-hero-signup-form">
							<form role="form">
							  <input type="hidden" id="addressLat" value.bind="addressLat" class="au-target" value="0">
							  <input type="hidden" id="addressLon" value.bind="addressLon" class="au-target" value="0">
							  <div class="input-group">
							    <span class="input-group-addon marker">
							      <i class="fa fa-map-marker"></i>
							    </span>
							    <input type="text" name="street_address" value.bind="address" class="form-control au-target" id="street_address" placeholder="1234 Main St" autocomplete="off">
							    <span class="input-group-btn">
							      <button type="submit" class="btn btn-search chevron"><i class="fa fa-chevron-circle-right"></i></button>
							    </span>
							  </div>
							</form>
						</div>
						<div class="row center wastemate-hero-signup-existing">
							<p>Existing Customers <a href="https://pasorobleswastedisposal.onlineportal.us.com/User/Login?ReturnUrl=%2f">Login</a></p>
						</div>
        			</div>
    			</div>
			</div>
		</div>
	</div>
</div>